@use '../abstracts' as *;


.about {
    width: 1680px;
    height: 532px;
    background: $beige;

    &__heading {
        @include font-bold; 
        padding-top: 110px;
        padding-bottom: 16px;
    }

    &__line {
        border-bottom: 1px solid $black;
        width: 80px;
    }

    &__text {
        @include font-normal;
        padding-top: 16px;
        margin: 0px 440px 0px 440px;
    }
       
}   