@use '../abstracts' as *;


.about {
    width: 1680px;
    height: 532px;
    background: #ECE9E4;

    &__heading {
        @include font-bold;        
        padding: 110px 655px 0px 655px;
        margin: 0px;
    }

    &__line {
        border-bottom: 1px solid $black;
        box-align: center;
        width: 80px;
        margin: 0px 800px 0px 800px;
    }

    &__text {
        @include font-normal;
        padding: 0px 440px 110px 440px;
        margin: 0px;
    }
       
}   