@use '../abstracts'as *;

.about {
  background-color: $beige;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    max-width: 60%;
    padding: 3em;
    margin: 60px 0px;

    @media screen and (max-width: 560px) {
      max-width: 90%;
      padding: 1em;
    }
  }

  &__heading {
    @include font-bold;
    text-transform: uppercase;
  }

  &__line {
    border-bottom: 1px solid $black;
    width: 80px;
  }

  &__para {
    @include font-normal;
  }
}