@use '../abstracts'as *;

.block {
  background: $white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    margin: 0;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media screen and (min-width: 992px) {
      min-height: none;
    }
  }

  &__heading {
    @include font-bold;
    text-transform: uppercase;
  }

  &__line {
    border-bottom: 1px solid $black;
    width: 80px;
  }

  &__para {
    @include font-normal;

    @media screen and (max-width: 400px) {
      max-width: 80%;
      word-wrap: break-word;
    }
  }

  &__phone {
    @include font-normal;
  }

  a:link,
  a:visited {
    text-decoration: none;
    color: $black;
  }

  a:hover,
  a:active {
    text-decoration: underline;
  }
}