@use '../abstracts' as *;

.footer {
    background-color: $black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;    
    justify-content: center;

    &__text {
        padding: 4em;

    }

    &__heading {
        @include font-bold;
        color: #f4f2ef;
    }

    &__line {
        border-bottom: 1px solid #f4f2ef;
        box-align: center;
        width: 80px;
    }

    &__hours {
        @include font-normal;
        color: #f4f2ef;
    }

    &__phone {
        @include font-normal;
        margin-top: 35px;
    }
        a:link, a:visited {
            text-decoration: none;
            color: #f4f2ef;
        } 
        a:hover, a:active { 
            text-decoration: underline; 
        }
       
    } 