@use '../abstracts'as *;

.menu {
  background: $white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    margin: 0;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 80%;

    @media screen and (min-width: 992px) {
      min-height: none;
    }
  }

  &__para {
    @include font-normal;

    @media screen and (max-width: 320px) {
      word-wrap: break-word;
    }
  }

  &__button {
    @include font-bold;
    width: 260px;
    height: 65px;
    border: 3px solid $black;
    background: #FFFFFF;
    position: relative;
    text-transform: uppercase;
  }

  &__button:hover {
    background: $black;
    color: $white;
  }
}