@use '../abstracts' as *;

.navbar {
    overflow: hidden;
    height: 125px;
    background: $white;
    opacity: 0.7;

    &__button-menu {
      @include font-bold;
      width: 260px;
      height: 49px;
      border: none;
      background: #FFFFFF;
    }

    &__logo {
      position: absolute;
      width: 162px;
      left: 50%;
      margin-left: -50px !important; 
      display: block;  
    }

    &__button-book {
      @include font-bold;
      width: 260px;
      height: 65px;
      border: 3px solid $black ;
      background: #FFFFFF;
    }
  }
