@use '../abstracts' as *;

.navbar {
  position: fixed;
  top: 0;
  height: 125px;
  left: 0;
  z-index: 10;
  width: 100%;
  background: $white;
  opacity: 0.7;
  padding: 8px 16px;
  display: flex;
  align-items: center;

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__nav {
    width: 100%;
  
    ul {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    li {
      display: inline-block;
    }
  }

  &__button-menu {
      @include font-bold;
      width: 260px;
      height: 49px;
      border: none;
      background: #FFFFFF;
   }

  &__button-book {
      @include font-bold;
      width: 260px;
      height: 65px;
      border: 3px solid $black ;
      background: #FFFFFF;
      position: relative;
      
   }
}

.navbar-toggler {
  @media only screen and (min-width: 768px) {
    display: none;
  }
}
